body {
  font-size: 16px;
  background-color: black;
}
div {
  font-family: Georgia;
  text-align: center;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
div.hidden {
  color: black;
}
div.hidden a {
  color: black;
}